<!DOCTYPE html>
<html>
<head>  
    <title>Fab4META - 404 </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="../dist/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../dist/ionicons/css/ionicons.min.css">
    <!-- Date range picker-->
    <link rel="stylesheet" href="../style/daterangepicker.css">
    
    <!-- Select 2-->
    <link rel="stylesheet" href="../style/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    
    
    
    <!-- DataTables -->
    <link rel="stylesheet" href="../dist/datatables/css/dataTables.bootstrap.min.css">
    <!-- Theme skin -->
    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">


    <!-- Uploader form-->

    <!--<link rel="stylesheet" type="text/css" href="../style/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../src/bootstrap/css/bootstrap.min.css"> -->
    
    <script type="text/javascript" src="../src/popper/popper.min.js"></script>
    <script type="text/javascript" src="../src/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/validation.min.js"></script>
    <script type="text/javascript" src="../js/verifyLogin.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/bootstrap-datetimepicker.js"></script>

    <style>
      #logs { list-style-type: none; margin: 0; padding: 0; }
      #logs li { padding: 5px 10px; }
      #logs li:nth-child(odd) { background: #eee; }
    </style>

</head>

<body class="hold-transition login-page">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
    <!-- Main content -->
    <section class="content" style="padding-top:250px;">
      <div class="error-page">
        <h2 class="headline text-yellow"> Ngek!</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Unable to authenticate.</h3>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may want to <a href="/login">Login</a> first.
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- jQuery 3 -->
<script src="../dist/js/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">

</body>
</html>