<!DOCTYPE html>
<html>
<head>  
    <title>Fab4 Meta - Login </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="../dist/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../dist/ionicons/css/ionicons.min.css">
    <!-- Date range picker-->
    <link rel="stylesheet" href="../style/daterangepicker.css">
    
    <!-- Select 2-->
    <link rel="stylesheet" href="../style/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    
    
    
    <!-- DataTables -->
    <link rel="stylesheet" href="../dist/datatables/css/dataTables.bootstrap.min.css">
    <!-- Theme skin -->
    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">


    <!-- Uploader form-->

    <!--<link rel="stylesheet" type="text/css" href="../style/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../src/bootstrap/css/bootstrap.min.css"> -->
    
    <script type="text/javascript" src="../src/popper/popper.min.js"></script>
    <script type="text/javascript" src="../src/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/validation.min.js"></script>
    <script type="text/javascript" src="../js/verifyLogin.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/bootstrap-datetimepicker.js"></script>

    <style>
      #logs { list-style-type: none; margin: 0; padding: 0; }
      #logs li { padding: 5px 10px; }
      #logs li:nth-child(odd) { background: #eee; }
    </style>

</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Fab4</b>META</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    

    <form action="" method="POST" id="login_auth" name="login_auth">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" id="btn-login" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
   
    
    <div id="error" style="padding-top: 10px;">
        <!-- error / success will be shown here -->
    </div>

    <br/>
   
    <p class="login-box-msg" style="font-size:12px;">Do not use your Outlook credentials</p>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="../dist/js/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css">

</body>
</html>